extends layout

block content
  h1= title
  hr
  form( action="/employee/new", method="post" class="form-horizontal" role="form" )
    .form-group
      label.col-sm-2.control-label( for="name" ) Nombre:
      .col-sm-10
        input#name.form-control( type="text", name="name" value=employee.name )
    .form-group
      label.col-sm-2.control-label( for="age" ) Edad:
      .col-sm-5
        input#age.form-control(type="text", name="age" value=employee.age )

    .form-group
      .col-sm-offset-2.col-sm-10
        input.btn.btn-primary( type="submit", value="Guardar" )
