extends layout

block content
  h1= title
  hr
  table.table.table-hover.table-condensed
    thead
      tr
        th Nombre
        th Edad
        th Acciones
    tbody
      - employees.forEach( function (employee) {
      tr
        td.nombre=employee.name
        td=employee.age
        td
          a.action.delete( href="employee/delete/" + employee._id data-name=employee.name )
            span.glyphicon.glyphicon-remove

          a.action.edit( href="employee/edit/" + employee._id )
            span.glyphicon.glyphicon-edit
      - } )

block js
  script.
    $('.delete').click( function (){
      return confirm( 'Esta seguro que quiere borrar a ' + $('.delete').data("name") )
    });

